<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.mitselek.sm-menubar</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/michelek/Applications/SMMenuBar.app/Contents/MacOS/SMMenuBar</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>StandardErrorPath</key>
	<string>/Users/michelek/.stationmaster-operator/menubar.err</string>
</dict>
</plist>
